/* Navbar Start */
nav {
    display: flex;
    align-items: center;
    background-size: cover;
    padding: 0 10%;
    justify-content: space-between;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    text-align: center;
    padding: 10px 20px;
}

nav ul li a {
    text-decoration: none;
    color: #3A3A3A;
}

.logo {
    font-size: 24px;
    font-family: 'Poppins', sans-serif;
    color: #3A3A3A;
    font-weight: 700;
    font-style: normal;
    cursor: pointer;
}

.button {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #3A3A3A;
}

nav ul li a:hover {
    color: red;
    transition: 0.3s;
}

.logo h2:hover {
    color: red;
    transition: 0.3s;
}

/* Navbar End */

/* section start */
section {
    padding: 0 10%;
}

.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.desc h1 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 52px;
    color: #3A3A3A;
}