/* Navbar Start */
nav {
    display: flex;
    align-items: center;
    background-size: cover;
    padding: 0 10%;
    justify-content: space-between;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    text-align: center;
    padding: 10px 20px;
}

nav ul li a {
    text-decoration: none;
    color: #3A3A3A;
}


.logo a {
    font-size: 24px;
    font-family: 'Poppins', sans-serif;
    color: #3A3A3A;
    font-weight: 700;
    font-style: normal;
    cursor: pointer;
    text-decoration: none;
}

.button {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #3A3A3A;
}

nav ul li a:hover {
    color: red;
    transition: 0.3s;
}

.logo a:hover {
    color: red;
    transition: 0.1s;
}

/* Navbar End */




/* section start */
section {
    padding: 50px 10%;
}

.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.desc h1 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 52px;
    color: #3A3A3A;
}

.desc p {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    color: #3A3A3A;
    padding-right: 60px;
}

.btn {
    width: 156px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 1px 24px;
    gap: 8px;
    background: #E02C6D;
    border-radius: 41px;
    text-decoration: none;
}

.btn h3 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;

    color: #FFFFFF;
    padding: 0 10px 0 0;
}

.bg {
    background-image: url(./images/Circle\ design.svg);
    background-repeat: no-repeat;
    background-size: contain;
}

.img {
    width: 440px;
    height: 414px;
}

.sponser {
    margin-top: 50px;
    margin-bottom: 50px;
}

.sponser img {
    padding: 10px 20px;
}


.collection h1 {
    font-size: 28px;
    font-weight: 600;
    color: #3A3A3A;
    text-align: center;
}



/* Products Section */
.products {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 8px;
}

.product {
    padding: 15px;
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    margin: 5px;
}

.product h2 {
    font-size: 28px;
    font-weight: 500;
    color: #18191F;
    font-family: 'Poppins', sans-serif;
    margin: 0 0 0 0;
}

.product h3 {
    font-size: 24px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.87);
    font-family: 'Poppins', sans-serif;
    margin: 0 0 0 0;
}

.filled {
    color: orange;
    height: 16px;
    width: 16px;
}

.r-text {
    padding-left: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    size: 22px;
    display: column;
    align-items: center;
    letter-spacing: 0.1px;
    color: #5E6366;
}

.rating p {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 14px;
    color: #787885;
}